<a href="https://colab.research.google.com/github/mukeshsharma1981/ML-Projects/blob/main/6_ML_Logistic_Regression_GaussianNB_and_MultinomialNB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

df=pd.read_csv("/content/play_tennis.csv")
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

The data set is not numeric. so we have to convert the values in numeric form using LabelEncoder from sklearn.preprocessing

In [3]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['outlook'] = encoder.fit_transform(df['outlook'])
df['temp'] = encoder.fit_transform(df['temp'])
df['humidity'] = encoder.fit_transform(df['humidity'])
df['wind'] = encoder.fit_transform(df['wind'])
df['play'] = encoder.fit_transform(df['play'])
df.head()

  day  outlook  temp  humidity  wind  play
0  D1        2     1         0     1     0
1  D2        2     1         0     0     0
2  D3        0     1         0     1     1
3  D4        1     2         0     1     1
4  D5        1     0         1     1     1

Split the data into training and test set

In [5]:
from sklearn.model_selection import train_test_split as tts 
input = ["outlook", "temp", "humidity", "wind"]
output = ["play"]

X_train, X_test, y_train, y_test = tts(df[input],df[output], test_size=0.30,random_state=1)

In [8]:
# GausianNB
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

model = GaussianNB()
model.fit(X_train,y_train)

predict = model.predict(X_test)
accuracy = accuracy_score(y_test,predict)
accuracy

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8

Multinomial is used for Document Classification

In [9]:
# MultinomialNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

model = MultinomialNB()
model.fit(X_train,y_train)

predict = model.predict(X_test)
accuracy = accuracy_score(y_test,predict)
accuracy

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8